section.about#about-us
    .conteiner 
        .about__flex 
            img.about__img(src="../../src/img/about-img.png", srcset="../../src/img/about-img@2x.png 2x", alt="")
            .about__info 
                h3.about__title Наша команда
                p.about__text Значимость этих проблем настолько очевидна, что базовый вектор развития позволяет оценить значение экспериментов, поражающих по своей масштабности и грандиозности. Мы вынуждены отталкиваться от того, что консультация с широким активом.
                ul.about__list 
                    li.about__item 
                        a.about__link(href="#!")
                            img.about__link-icon(src="../../src/img/team/team-1.png", srcset="../../src/img/team/team-1@2x.png 2x",  alt="")
                    li.about__item 
                        a.about__link(href="#!")
                            img.about__link-icon(src="../../src/img/team/team-2.png", srcset="../../src/img/team/team-2@2x.png 2x", alt="")
                    li.about__item 
                        a.about__link(href="#!")
                            img.about__link-icon(src="../../src/img/team/team-3.png", srcset="../../src/img/team/team-3@2x.png 2x",  alt="")