section.section__intro
    .conteiner 
        .intro__flex-conteiner
            .intro__img-conteiner 
                img.intro__img(src="../../src/img/header-intro.png" srcset="../../src/img/header-intro@2x.png" alt="Адаптивное изображение.")
            .intro__info
                h1.intro__title Реплики картин от <span>Ink. House</span>
                p.intro__text Высокое качество отрисовки на плотной бумаге или льняном холсте. Редкие произведения, доступные цены.
                a.intro__link-products(href="#!") Продукция