section.section__cards-products#products
    .conteiner
        .cards__nav
            h2.cards__title Репродукции
            .cards__tabs
                button.cards__btn.active(data-tab="#france") Франция
                button.cards__btn(data-tab="#germany") Германия
                button.cards__btn(data-tab="#england") Англия
        .cards__product#france  
            .card#1(data-id="1")
                .card__image-block
                    a(href="../../src/img/products/france/card-1@2x.jpg", data-lightbox="image-1") 
                        img.card__img(src="../../src/img/products/france/card-1.jpg", srcset="../../src/img/products/france/card-1@2x.jpg 2x",alt="")
                p.card__author Марсель Руссо
                p.card__name Охота Амура
                p.card__info Холст, масло (50х80) 
                p.card__price 14 500 руб
                button.card__btn(data-basket="1") В корзину
            .card#2(data-id="2")
                .card__image-block
                    a(href="../../src/img/products/france/card-2@2x.jpg", data-lightbox="image-2") 
                        img.card__img(src="../../src/img/products/france/card-2.jpg", srcset="../../src/img/products/france/card-2@2x.jpg 2x",alt="")
                p.card__author Анри Селин
                p.card__name Дама с собачкой
                p.card__info Акрил, бумага (50х80)  
                p.card__price 16 500 руб
                button.card__btn(data-basket="2") В корзину
            .card#3(data-id="3")
                .card__image-block
                    a(href="../../src/img/products/france/card-3@2x.jpg", data-lightbox="image-3") 
                        img.card__img(src="../../src/img/products/france/card-3.jpg", srcset="../../src/img/products/france/card-3@2x.jpg 2x",alt="")
                p.card__author Франсуа Дюпон
                p.card__name Процедура
                p.card__info Цветная литография (40х60)  
                p.card__price 20 000 руб
                button.card__btn(data-basket="3") В корзину
            .card#4(data-id="4")
                .card__image-block
                    a(href="../../src/img/products/france/card-4@2x.jpg", data-lightbox="image-4") 
                        img.card__img(src="../../src/img/products/france/card-4.jpg", srcset="../../src/img/products/france/card-4@2x.jpg 2x",alt="", data-title="My caption")
                p.card__author Луи Детуш
                p.card__name Роза
                p.card__info Бумага, акрил (50х80)  
                p.card__price 12 000 руб
                button.card__btn(data-basket="4") В корзину
            .card#5(data-id="5")
                .card__image-block
                    a(href="../../src/img/products/france/card-5@2x.jpg", data-lightbox="image-5") 
                        img.card__img(src="../../src/img/products/france/card-5.jpg", srcset="../../src/img/products/france/card-5@2x.jpg 2x",alt="")
                p.card__author Франсуа Дюпон
                p.card__name Птичья трапеза
                p.card__info Цветная литография (40х60)  
                p.card__price 22 500 руб
                button.card__btn(data-basket="5") В корзину
            .card#6(data-id="6")
                .card__image-block
                    a(href="../../src/img/products/france/card-6@2x.jpg", data-lightbox="image-6") 
                        img.card__img(src="../../src/img/products/france/card-6.jpg", srcset="../../src/img/products/france/card-6@2x.jpg 2x",alt="")
                p.card__author Пьер Моранж
                p.card__name Пейзаж с рыбой
                p.card__info Цветная литография (40х60)  
                p.card__price 20 000 руб
                button.card__btn(data-basket="6") В корзину

        .cards__product.off#germany
            .card#7(data-id="7")
                .card__image-block
                    a(href="../../src/img/products/germany/card-1@2x.jpg", data-lightbox="image-7") 
                        img.card__img(src="../../src/img/products/germany/card-1.jpg", srcset="../../src/img/products/germany/card-1@2x.jpg 2x",alt="")
                p.card__author Курт Вернер
                p.card__name Над городом
                p.card__info Цветная литография (40х60) 
                p.card__price 16 000 руб
                button.card__btn(data-basket="7") В корзину
            .card#8(data-id="8")
                .card__image-block
                    a(href="../../src/img/products/germany/card-2@2x.jpg", data-lightbox="image-8") 
                        img.card__img(src="../../src/img/products/germany/card-2.jpg", srcset="../../src/img/products/germany/card-2@2x.jpg 2x",alt="")
                p.card__author Макс Рихтер
                p.card__name Птенцы
                p.card__info Холст, масло (50х80)   
                p.card__price 14 500 руб
                button.card__btn(data-basket="8") В корзину
            .card#9(data-id="9")
                .card__image-block
                    a(href="../../src/img/products/germany/card-3@2x.jpg", data-lightbox="image-9") 
                        img.card__img(src="../../src/img/products/germany/card-3.jpg", srcset="../../src/img/products/germany/card-3@2x.jpg 2x",alt="")
                p.card__author Мартин Майер
                p.card__name Среди листьев
                p.card__info Цветная литография (40х60)  
                p.card__price 20 000 руб
                button.card__btn(data-basket="9") В корзину
            .card#10(data-id="10")
                .card__image-block
                    a(href="../../src/img/products/germany/card-4@2x.jpg", data-lightbox="image-10") 
                        img.card__img(src="../../src/img/products/germany/card-4.jpg", srcset="../../src/img/products/germany/card-4@2x.jpg 2x",alt="")
                p.card__author Герман Беккер
                p.card__name Яркая птица
                p.card__info Цветная литография (40х60)   
                p.card__price 13 000 руб
                button.card__btn(data-basket="10") В корзину
            .card#11(data-id="11")
                .card__image-block
                    a(href="../../src/img/products/germany/card-5@2x.jpg", data-lightbox="image-11") 
                        img.card__img(src="../../src/img/products/germany/card-5.jpg", srcset="../../src/img/products/germany/card-5@2x.jpg 2x",alt="")
                p.card__author Вульф Бауэр
                p.card__name Дятлы
                p.card__info Бумага, акрил (50х80)   
                p.card__price 20 000 руб
                button.card__btn(data-basket="11") В корзину
            .card#12(data-id="12")
                .card__image-block
                    a(href="../../src/img/products/germany/card-6@2x.jpg", data-lightbox="image-12") 
                        img.card__img(src="../../src/img/products/germany/card-6.jpg", srcset="../../src/img/products/germany/card-6@2x.jpg 2x",alt="")
                p.card__author Вальтер Хартманн
                p.card__name Большие воды
                p.card__info Бумага, акрил (50х80)   
                p.card__price 23 000 руб
                button.card__btn(data-basket="12") В корзину

        .cards__product.off#england
            .card#13(data-id="13")
                .card__image-block
                    a(href="../../src/img/products/england/card-1@2x.jpg", data-lightbox="image-13") 
                        img.card__img(src="../../src/img/products/england/card-1.jpg", srcset="../../src/img/products/england/card-1@2x.jpg 2x",alt="")
                p.card__author Пол Смит
                p.card__name Дикий зверь
                p.card__info Акварель, бумага (50х80)
                p.card__price 19 500 руб
                button.card__btn(data-basket="13") В корзину
            .card#14(data-id="14")
                .card__image-block
                    a(href="../../src/img/products/england/card-2@2x.jpg", data-lightbox="image-14")
                        img.card__img(src="../../src/img/products/england/card-2.jpg", srcset="../../src/img/products/england/card-2@2x.jpg 2x",alt="")
                p.card__author Джон Уайт
                p.card__name Скалистый берег
                p.card__info Цветная литография (40х60)   
                p.card__price 17 500 руб
                button.card__btn(data-basket="14") В корзину
            .card#15(data-id="15")
                .card__image-block
                    a(href="../../src/img/products/england/card-3@2x.jpg", data-lightbox="image-15")
                        img.card__img(src="../../src/img/products/england/card-3.jpg", srcset="../../src/img/products/england/card-3@2x.jpg 2x",alt="")
                p.card__author Джим Уотсон
                p.card__name Река и горы
                p.card__info Акварель, бумага (50х80)  
                p.card__price 20 500 руб
                button.card__btn(data-basket="15") В корзину
            .card#16(data-id="16")
                .card__image-block
                    a(href="../../src/img/products/england/card-4@2x.jpg", data-lightbox="image-16")
                        img.card__img(src="../../src/img/products/england/card-4.jpg", srcset="../../src/img/products/england/card-4@2x.jpg 2x",alt="")
                p.card__author Юджин Зиллион
                p.card__name Белый попугай
                p.card__info Цветная литография (40х60)   
                p.card__price 15 500 руб
                button.card__btn(data-basket="16") В корзину
            .card#17(data-id="17")
                .card__image-block
                    a(href="../../src/img/products/england/card-5@2x.jpg", data-lightbox="image-17")
                        img.card__img(src="../../src/img/products/england/card-5.jpg", srcset="../../src/img/products/england/card-5@2x.jpg 2x",alt="")
                p.card__author Эрик Гиллман
                p.card__name Ночная рыба
                p.card__info Бумага, акрил (50х80)  
                p.card__price 12 500 руб
                button.card__btn(data-basket="17") В корзину
            .card#18(data-id="18")
                .card__image-block
                    a(href="../../src/img/products/england/card-6@2x.jpg", data-lightbox="image-18")
                        img.card__img(src="../../src/img/products/england/card-6.jpg", srcset="../../src/img/products/england/card-6@2x.jpg 2x",alt="")
                p.card__author Альфред Барр
                p.card__name Рыжий кот
                p.card__info Цветная литография (40х60)   
                p.card__price 21 000 руб
                button.card__btn(data-basket="18") В корзину
            
