$platinum: #E1EDE6;
$dark-grey: #2C2D35;
$green: #598D66;
$light-green: #86928B;
$smoky-white: #F4F6F5;
$white: #FFFFFF;
$light-gray: #D4E8D9;
$dark-yellow: #EEDB6D;

$md-grey: #C3D1C6;


$link-hover: #598D66;
$link-focus: #D4E8D9;
$link-active: #376B44;


$hover-yellow: #FAEB97;
$outline-focus: #A38314;
$active-yellow: #D9B949;

$menu-burger: #4C5866;